.idea/libraries
.idea/tasks.xml
.idea/workspace.xml
dependency-reduced-pom.xml
target
/server/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/server/.gradle/buildOutputCleanup/cache.properties
/server/.gradle/checksums/checksums.lock
/server/.gradle/6.2.2/executionHistory/executionHistory.bin
/server/.gradle/6.2.2/executionHistory/executionHistory.lock
/server/.gradle/6.2.2/fileContent/fileContent.lock
/server/.gradle/6.2.2/fileHashes/fileHashes.bin
/server/.gradle/6.2.2/fileHashes/fileHashes.lock
/server/.gradle/6.2.2/gc.properties
/server/.gradle/vcs-1/gc.properties
/server/.gradle/6.2.2/javaCompile/javaCompile.lock
/server/.gradle/6.2.2/fileChanges/last-build.bin
/server/lombok.config
/server/.gradle/buildOutputCleanup/outputFiles.bin
/server/.gradle/6.2.2/javaCompile/taskHistory.bin
